
  *{margin: 0; 
    padding: 0;
    box-sizing: border-box;
}  
*{
    font-family: 'Montserrat';
}
.paymentbody{
    background-color: #f2f2f2;
   
}
.paymenttxt{
    
    text-align: center;
}
.paymentmainmenu
{
    border-radius: 20px 20px 0 0;
    background-color: white;
    margin-top: 30px;
    text-align: center;
    
}
.paymentmodebtn{
    border-radius: 8px;
    background-color: white;
    border-color: #2D2D2D;
    font-size: 16px;
    border: 1px solid rgba(45, 45, 45, .1);
    height: 35px;
    width: 70px;
   align-items: center;
   outline-color: #1874EF;
    
}
.carddetails{
    width: 95%;
    border-radius: 5px;
    border-color: #2D2D2D;
}
.paybutton{
    border-radius: 8px;
    background-color: #86B549;
    width: 90%;
    color: white;
    height: 52px;
    border: 1px solid rgba(45, 45, 45, .1);
}
ul.line-separated
    {
        background-color: blue;
        padding: 0;
        margin-left: 1em;
        
    }
    ul.line-separated li
    {
        background-color: white;
        margin: 1px 0 0 0;
        padding: 0;
        text-align: left;
        list-style-type: none;
        margin-top: 10px;
    }

.upipaymentmodes{
    margin-top: 50px;
}
.about-border {
    display: block;
    width: 95%;
    height: 3px;
    background: #2D2D2D;
    opacity: 10%;
    margin: 30px auto;
}

.item-no-total
{
    height: 40px;
    display: flex;
justify-content: center;
vertical-align: middle;
}

#card_number input
{
    width: 95%; margin-left: 10px;background: url(../../assets/credit-card-16.svg) no-repeat right 10px center
}
.cardnumberstripe input{
    width: 95%; margin-left: 10px;background: url(../../assets/credit-card-16.svg) no-repeat right 10px center
}


  .StripeElement{
   
  bottom: 0;
}  
/* .StripeElement {
    box-sizing: border-box;
  
    height: 40px;
  
    padding: 10px 12px;
  
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: white;
  
    box-shadow: 0 1px 3px 0 #e6ebf1;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
  }
  
  .StripeElement--focus {
    box-shadow: 0 1px 3px 0 #cfd7df;
  }
  
  .StripeElement--invalid {
    border-color: #fa755a;
  } */