*{margin: 0; 
    padding: 0;
    box-sizing: border-box;
}
.profilephoto{
    width: 100px;
    height: 100px;
    margin: 20px auto;    
    display: block;
    background: black;
    
    border-radius: 76px;
    opacity: 1;
   
}
.usernamediv{
    height: 20px;
    width: 100%;
  
    
    
    text-align: center;
    
    opacity: 1;
    
}
.username{

    font-size: 12px;
  
    font-family: 'Montserrat';
    font-weight: bold;
    
}
.mylinksbtn{
    width: 100%;
    
    margin-top: 25px;
   
    align-items: center;
    justify-content: center;
}
.mylinksbtn button{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 50px;
    width: 300px;
    margin-top: 8px;
    background-color: #1874EF;
    border: 1px solid #1874EF;
    border-radius: 16px;
    opacity: 1; 
    color: #FFFFFF;
    font-family: 'Montserrat';
    font-size: 12px;
    outline: none;
}
.socialgrid{
    width: 100%;
  
    

    text-align: center;
   position: fixed;
   bottom: 3em;
    color: black;
    height: 20px;
}